<% content_for :morris do %>
  <%= javascript_include_tag 'morris' %>
<% end %>

<section class="pattern10">
  <%= render 'shared/publisher_stats_hero', hero: t('.site_earnings') %>
  <div class="content">
    <h2><%= t('.site') %>: <%= @site.url %></h2>
    <br/>
    <br/>
    <%= content_tag :div, "", id: "stats_chart", data: { label: @label, stats: @stats } %>

  </div>
</section>