<% content_for :finances do %>
  active
<% end %>

<section class="pattern10">
  <section class="hero">
    <h1><%= t '.finances' %></h1>
  </section>

  <div class="content">
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
      <br/>
    <% end %>
    <h2><%= t '.current_balance', balance: number_to_currency(current_user.wallet_balance) %></h2>
    <br/>
    <%= form_for @user, method: :put do |f| %>
      <% @user.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
      <%= f.label :paypal_email, t('.paypal_email') %>
      <%= f.email_field :paypal_email %>
      <div>
        <%= f.button t('.save_changes'), class: 'button clipjet-color' %>
      </div>
    <% end %>

    <br/>
    <hr/>
    <br/>
    <h2><%= t '.withdrawal_request' %></h2>
    <br/>
    <p><%= t '.withdrawal_restriction' %></p>
    <br/>
    <%= form_for @wr, method: :post do |f| %>
      <% @wr.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
      <%= f.label :amount, t('.amount') %>
      <%= f.text_field :amount %>
      <div>
        <%= f.button t('.send'), class: 'button clipjet-color' %>
      </div>
    <% end %>
  </div>
</section>