<% content_for :morris do %>
  <%= javascript_include_tag 'morris' %>
<% end %>

<section class="campaigns">
  <%= render 'shared/campaign_stats_hero', hero: t('.campaign_impressions') %>
  <div class="content">
    <h2><%= t('.campaign') %>: <%= @campaign.name %></h2>
    <br/>
    <br/>
    <%= content_tag :div, "", id: "stats_chart", data: { label: @label, stats: @stats } %>
    <%= content_tag :div, "", id: "country_pie", data: { stats: @country_stats } %>
  </div>
</section>