<section class="pattern10">
  <%= render 'shared/install_clipjet_hero' %>
  <div class="content">
    <div class="clearfix">
      <legend class="left"><i class="icon-ok icon-white"></i></legend>
      <legend class="active left">2</legend>
      <h2 class="left"><%= t '.installation_instructions' %></h2>
    </div>

    <ol class="clearfix">
      <li>
        <h3><%= t '.select_a_category' %></h3>
        <%= form_tag '' do %>
          <%= collection_select(:div, :category_id, Category.name_order.all, :id, :name, selected: 1) %>
        <% end %>
      </li>
      <li>
        <h3><%= t '.select_your_site_language' %></h3>
        <%= form_tag '' do %>
          <%= select_tag(:div_language, options_for_select(LANGUAGES, I18n.locale)) %>
        <% end %>
      </li>
      <li>
        <h3><%= t '.select_width_and_height' %></h3>
        <%= form_tag '', class: 'form-inline' do %>
          <%= label_tag :width, 'width' %>
          <%= text_field_tag :width, nil, placeholder: '200px' %>
          <%= label_tag :height, 'height' %>
          <%= text_field_tag :height, nil, placeholder: '200px' %>
        <% end %>
      </li>
      <li>
        <h3><%= t '.copy_div_html' %></h3>
        <p><%= t '.div_explanation' %></p>
        <pre class="span12 widget_div">
<%= @site.widget_iframe(lang: I18n.locale, category: 1, width: 200, height: 200) %></pre>
      </li>
    </ol>

    <br/>
    <br/>
    <div><%= t '.widget_install_help' %></div>
    <br/>
    
  </div>
</section>