<section class="pattern9">
  <section class="section9 clearfix">
    <div>
      <h1><%= t 'devise.sessions.user.log_in' %></h1>      
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:alert] %>
        <p><%= flash[:alert] %></p>
      <% end %>
      <p class="lead"><%= t 'devise.sessions.user.dont_have_account' %> <%= link_to t('devise.sessions.user.sign_up'), new_user_registration_path %>.</p>
        <br/>
        
        <div class="rounded form clearfix">
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <%= f.label :email, t('devise.shared.user.your_email') %>
            <%= f.email_field :email %>
            <%= f.label :password, t('devise.shared.user.your_password') %>
            <%= f.password_field :password %>
            <%= f.button t('devise.shared.user.let_me_in'), class: 'rounded btn' %>
          <% end %>
          <p><%= link_to t('devise.sessions.user.forgot_password'), new_user_password_path %></p>
        </div>

    </div>
  </section>
</section>