<h2>Sign in</h2>






<div class="pattern9">
	<section class="section9 clearfix">
		<div>
		  <h1><%= t 'Publisher Sign In' %></h1>
		  
		  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div class="rounded form clearfix">
          <%= f.input :email, :required => false, :autofocus => true %>
          <%= f.input :password, :required => false %>
          <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>

          <%= f.button :submit, "Sign in",:class => 'btn' %>
        </div>
      <% end %>
      
      <%= render "devise/shared/links" %>
		  
		</div>
	</section>
</div>