<div class="pattern9">
	<section class="section9 clearfix">
		<div>
				<h1><%= t 'get_started_in_30_seconds' %></h1>

			<p class="lead"><%= t 'already_have_an_account' %> <a href="#"><%= t 'log_in_now' %></a></p>
				<br/>
				
				<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="rounded form clearfix">
            <%= f.input :email, :required => true, :autofocus => true, :label => t('your_email_address'), :class => 'rounded' %>
            <%= f.input :password, :required => true, :label => t('your_password'), :class => 'rounded' %>
            <%= f.input :blog_url, :required => true, :autofocus => true , :label => t('your_blog_url'), :class => 'rounded' %>
            
            <%= f.button :submit, t('become_a_publisher'), :class => 'rounded btn uppercase' %>
            
          </div>
        <% end %>
      
		</div>
	</section>
</div>