<div class="footer-wrapper">
  <footer class="clearfix">
      <%= link_to root_path, class: 'pull-left' do %>
        <h1 class="hide-text">CLIPJET</h1>
      <% end %>
      <nav>
        <ul>
          <li class="pull-left"><%= link_to t('shared.header.promote_your_videos'), root_path %></li>
          <li class="pull-left"><%= link_to t('shared.header.become_a_publisher'), publisher_path %></li>
          <li class="pull-left"><%= link_to t('shared.header.become_an_influencer'), influencer_path %></li>
          <li class="pull-left"><%= link_to t('.faq'), faq_path %></li>
<!--           <li class="pull-left"><a href="#">About Clipjet</a></li>
          <li class="pull-left"><a href="#">FAQ</a></li> -->
        </ul>
      </nav>
      <%= form_tag '', class: 'locale pull-right'  do %>
        <%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s) %>
      <% end %>
  </footer>
</div>