<div class="header">
  <header class="clearfix">
    <%= link_to root_path, class: 'pull-left' do %>
      <h1 class="hide-text">CLIPJET</h1>
    <% end %>
    <nav>
      <ul>
        <% if promoter_controller? %>
          <%= render 'shared/nav_promoter' %>
        <% elsif publisher_controller? %>
          <%= render 'shared/nav_publisher' %>
        <% elsif influencer_controller? %>
          <%= render 'shared/nav_influencer' %>
        <% else %>
          <li class="pull-left"><%= link_to t('.promote_your_videos'), root_path %></li>
          <li class="pull-left"><%= link_to t('.become_a_publisher'), publisher_path %></li>
          <li class="pull-left"><%= link_to t('.become_an_influencer'), influencer_path %></li>
        <% end %>
      </ul>
    </nav>

    <nav class="session-nav">
      <ul>
        <% if user_signed_in? %>
          <li class="right"><%= link_to t(".log_out"), destroy_user_session_path, method: :delete %></li>
          <li class="dropdown right">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><%= t '.profile' %><b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li><%= link_to t(".promoter"), new_video_registration_path %></li>
              <li><%= link_to t(".publisher"), new_site_path %></li>
              <li><%= link_to t(".influencer"), influencer_campaigns_path %></li>
            </ul>
          </li>
        <% else %>
          <li class="right"><%= link_to t(".sign_up"), new_user_registration_path, class: 'button' %></li>
          <li class="right"><%= link_to t(".login"), new_user_session_path, class: 'login' %></li>
        <% end %>
      </ul>
    </nav>
  </header>
</div>

