<li><%= link_to t(".pick_a_clip"), influencer_campaigns_path, class: "pull-left #{yield :pick_a_clip}" %></li>
<li><%= link_to t(".your_shared_videos"), influencer_videos_path, class: "pull-left #{yield :your_shared_videos}" %></li>
<li><%= link_to t(".your_finances"), finances_path, class: "pull-left #{yield :finances}" %></li>