<li><%= link_to t(".promote_video"), new_video_registration_path, class: "pull-left #{yield :promote_video}" %></li>
<li><%= link_to t(".manage_campaigns"), campaigns_path, class: "pull-left #{yield :manage_campaigns}" %></a></li>