<li><%= link_to t(".install_clipjet"), new_site_path, class: "pull-left #{yield :install_clipjet}" %></li>
<li><%= link_to t(".account_stats"), sites_path, class: "pull-left #{yield :account_stats}" %></li>
<li><%= link_to t(".your_finances"), finances_path, class: "pull-left #{yield :finances}" %></li>