<div class="content">
  <div class="wrap">
    <h1><%= @campaign.name %></h1>
    <%= content_tag :div, "", id: 'clipjet-video', data: {video: @campaign.video_id, 'influencer-video' => @influencer_video.token} %>
    <div id="player">VIDEO</div>
    <div class="social clearfix">
      <% unless @campaign.site_url.blank? %>
        <div class="information pull-left"><%= t('.for_more_information_visit') %> <%= link_to @site_domain, @campaign.site_url%></div>
      <% end %>
      <%= link_to "https://plus.google.com/share?url=#{u @influencer_video.share_url}", target: '_blank' do %>
        <%= image_tag('google_plus_icon.png', size: "50x50") %>
      <% end %>

      <%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{u @influencer_video.share_url}", id: 'fb_share', target: '_blank' do %>
        <%= image_tag('fb_icon.png', size: "50x50") %>
      <% end %>

      <%= link_to "https://twitter.com/share?via=clipjet&url=#{u @influencer_video.share_url}", target: '_blank' do %>
        <%= image_tag('twitter_icon.png', size: "50x50") %>
      <% end %>
    </div>
    <br />
    <br />
    <%= simple_format @campaign.description %>
  </div>
</div>