<div class="pattern5">
	<section class="section10 clearfix">
		<div></div>
	</section>
</div>
<div>
	<section class="section11 clearfix">
		<div>
			<div class="clearfix">
				<h2>Thanks for Signing Up !</h2>
				<div class="h1 clearfix">
					<legend>1</legend><span>Download the Plugin by <a href="http://static.pablofarias.com/clipjet.zip">Clicking here</a></span>
				</div>
				<div class="h1 clearfix">
					<legend>2</legend><span>Install the Plugin:</span>
				</div>
				<ul>
				<li> - Go to your wordpress admin panel, and click on 'Plugins' in the sidebar.</li>
				<li> - Click on 'Add New' and then 'Upload'.</li>
				<li> - Click on 'Browse' to locate the file on your computer.</li>
				<li> - Click on 'Install Now' and 'Activate' the plugin once it has installed.</li>
				</ul>
				<div class="h1 clearfix">
					<legend>3</legend><span>Navigate to Setting > Clipjet (Found in admin sidebar)</span>
				</div>
				<ul>
				<li><img src="/images/ins_1.gif"/></li>
				</ul>
				<div class="h1 clearfix">
					<legend>4</legend><span>Enter you email address, and select a default tag for your site</span>
				</div>
				<div class="h1 clearfix">
					<legend>5</legend><span>Navigate to Appearance > widget and drag the clipjet module onto the sidebar.</span>
				</div>
				<ul>
				<li><img src="/images/ins_2.gif"/></li>
				</ul>
				<div class="h1 clearfix">
					<legend>6</legend><span>When you are editing or creating an article, you can specify tag for that article <br/>to taylor the videos shown!</span>
				</div>
				<ul>
				<li><img src="/images/ins_3.gif"/></li>
				</ul>
			</div>
		</div>
	</section>
</div>