<base target="_blank" />
<style type="text/css">
  body, div {
    margin: 0;
  }
</style>

<div id="clipjet-video" width="<%= @width %>px" height="<%= @height %>px" data-video="<%= @video_id %>" data-campaign="<%= @campaign.token %>" data-site="<%= @site.token %>" data-campaign-url="<%= @campaign.site_url %>">
  <div id="player"></div>
</div>
<%= javascript_include_tag 'widget/clipjet', async: true %>