<% content_for :your_shared_videos do %>
  active
<% end %>

<section class="pattern10">
  <section class="hero">
    <h1><%= t('.your_videos') %></h1>
  </section>

  <div class="content">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th><%= t '.campaign_name' %></th>
          <th><%= t '.payment' %></th>
          <th><%= t '.remaining_views' %></th>
          <th><%= t '.impressions' %></th>
          <th><%= t '.views' %></th>
          <th><%= t '.earnings' %></th>
        </tr>
      </thead>      
      <tbody>
        <% @influencer_videos.each do |influencer_video| %>
        <tr id=<%= dom_id(influencer_video) %>>
          <td class="small-thumbnail span2"><%= image_tag(influencer_video.campaign.small_thumbnail) if influencer_video.campaign.small_thumbnail %></td>
          <td class="campaign span5"><%= link_to influencer_video.campaign.name, influencer_video_path(influencer_video) %></td>
          <td class="payment"><%= raw influencer_video.campaign.influencer_payment %></td>
          <td class="remaining-views"><%= influencer_video.campaign.remaining_views %></td>
          <td class="impressions"><%= influencer_video.impressions_count %></td>
          <td class="views"><%= influencer_video.views_count %></td>
          <td class="earnings"><%= number_to_currency(influencer_video.earnings, precision: 3) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
