<section class="pattern10">
  <%= render 'shared/pick_clip_hero', hero: t('.influencer') %>
  <div class="content">

    <div class="clearfix">
      <legend class="left"><i class="icon-ok icon-white"></i></legend>
      <legend class="active left">2</legend>
      <h2 class="left"><%= t '.share' %></h2>
    </div>

    <div class="row">
      <div class="span7">
        <div id="player"></div>
        <p class="video_title"><%= "#{t('.title')}: #{@campaign.name}" %></p>
        <p class="video_duration"><%= "#{t('.duration')}: #{Time.at(@info.duration).utc.strftime("%H:%M:%S")}" %></p>
        <% if @campaign.description %>
          <p><%= t '.description' %>:</p>
          <%= simple_format @campaign.description, class: 'description' %>
        <% end %>
      </div>
      <div class="span5">
        <div class="row">
          <%= t '.share_with' %>
        </div>
        <div class="row">
          <%= link_to "https://twitter.com/share?via=clipjet&url=#{u @influencer_video.share_url}", target: '_blank' do %>
            <%= image_tag('twitter_icon.png', size: "50x50") %>
          <% end %>

          <%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{u @influencer_video.share_url}", target: '_blank' do %>
            <%= image_tag('fb_icon.png', size: "50x50") %>
          <% end %>
          <%= link_to "https://plus.google.com/share?url=#{u @influencer_video.share_url}", target: '_blank' do %>
            <%= image_tag('google_plus_icon.png', size: "50x50") %>
          <% end %>
        </div>
        <br />
        <div class="row">
          <%= label_tag :url, 'SHARE URL' %>
          <%= url_field_tag :url, @influencer_video.share_url, class: 'span4', readonly: true %>
        </div>
        <br />
        <div class="row">
          <p class="payment"><%= raw "#{t('.payment')}: #{@campaign.influencer_payment}/#{t('.per_view')}" %></p>
          <p class="remain_views"><%= "#{t('.remain_views')}: #{@remain_views}" %></p>
        </div>
      </div>
    </div>

  </div>
</section>

<script>
  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '300',
      width: '500',
      videoId: '<%= @info.id %>',
      playerVars: { 'autohide': 1, 'showinfo': 0 },
    });
  }
</script>