<%= form_tag Paypal::PAYPAL_URL, class: 'paypal-payment' do %>
  <%= hidden_field_tag :cmd, '_s-xclick' %>
  <%= hidden_field_tag :encrypted, Paypal.encrypted_values(@return_url, payment_notifications_url(secret: @campaign.secret, hit_cost: @hit_cost), @campaign, @budget) %>
  <div class="row">
    <div class="span4 offset4">
      <%= button_tag class: 'button clipjet-color pull-left' do %>
        <i class="icon-white icon-ok"></i> <%= UnicodeUtils.upcase(t('.buy_credits')) %>
      <% end %>
    </div>
  </div>
<% end %> 