<section class="promote-video">
  <%= render 'shared/new_campaign_hero' %>
  <div class="content">
    <div class="clearfix">
      <legend class="left"><i class="icon-ok icon-white"></i></legend>
      <legend class="left"><i class="icon-ok icon-white"></i></legend>
      <legend class="active left">3</legend>
      <h2 class="left"><%= t '.buy_credits' %></h2>

    </div>

    <div class="clearfix">
      <p><%= t('.credit_purchase_paragraph') %></p>
      <br/>
      <br/>
      <br/>


      <div class="row-fluid clearfix payment-params">
        <%= form_tag set_payment_params_campaign_path(@campaign),remote: true do  %>
          <div class="row-fluid">
            <div class="span4">
              <%= label_tag :budget, t('.set_your_budget') %>
              <div><%= t('.minimum_of_20') %></div>
            </div>
              <%= text_field_tag :budget %>
          </div>
          <br/>
          <div class="row-fluid">
            <div class="span4">
                <%= label_tag :hit_cost, t('.set_your_cost_per_view') %>
              <div><%= t('.minimum_of_006', value: Campaign::HIT_COST) %></div>
            </div>
            <%= text_field_tag :hit_cost %>
          </div>
          <br/>
          <div class="row-fluid">
            <div class="span4"><%= t('.views') %></div>
            <div class="total-views"></div>
          </div>
          <br />
          <br />
          <div class="row">
            <div class="span4 offset4">
              <%= button_tag t('.calculate_views'), class: 'button clipjet-color pull-left' %>
            </div>
          </div>

        <% end %>
      </div>


      <!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark"></a></td></tr></table><!-- PayPal Logo -->

      <br/>

      <p><%= t '.if_need_more_credits', email: 'credits@clipjet.me' %></p>

    </div>

  </div>

</section>