<% unless @hit_cost < Campaign::HIT_COST || @budget < 20 %>
  $('#budget').val(<%= @budget %>);
  $('#hit_cost').val(<%= @hit_cost %>);
  $('.total-views').text(<%= @views %>);
  var calculateButton = $('.payment-params form:first-child button')
  var buy_button = $("<%= escape_javascript(render('paypal_form')) %>").hide().fadeIn(300, function(){
    calculateButton.hide(200);
  });

  $('.payment-params').append(buy_button);
  $('#budget, #hit_cost').on("change keyup", function(){
    $('.paypal-payment').hide(200, function(){
      $(this).remove();
      calculateButton.fadeIn(300);
    });
  })
<% else %>
  <%= add_gritter(t('.cost_per_view_budget_warning', value: Campaign::HIT_COST), title: t('.budget_cost_error')) %>
<% end %>