<section class="pattern10">
  <section class="hero">
    <h1><%= t '.faqs' %></h1>
  </section>

  <div class="content">
  <div class="accordion" id="accordion2">
    <% @faqs_hash.each do |key, value| %>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= value %>">
            <%= t ".faq#{key}" %>
          </a>
        </div>
        <div id="collapse<%= value %>" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= t ".faq#{key}_paragraph" %>
          </div>
        </div>
      </div>
    <% end %>

  </div>


  </div>


</section>