<section class="main">

  <section class="hero">
    <h1><%= t '.the_viral_button_for_your_videos' %></h1>
    <p><%= t '.one_click_to_virality' %></p>

    <%= form_tag video_registration_path, class: 'rounded input' do %>
      <%= url_field_tag :video_url, nil, placeholder: t('.enter_your_youtube_video_url'), class: 'non-focus'  %>
      <%= button_tag t('.go_viral'), class: 'button' %>
    <% end %>

    <div class="home_sprite arrow"></div> 
  </section>

  <section class="pattern1">
    <h1><%= t '.be_seen' %></h1>
    <p><%= t '.we_make_it_easy' %></p>
    <ul class="clearfix">
      <li class="left">
        <%= image_tag 'step1.jpg' %>
        <p><%= t '.provide_video_link' %></p>
      </li>
      <li class="left">
        <%= image_tag 'step2.jpg' %>
        <p><%= t '.set_campaign_budget' %></p>
      </li>
      <li class="left">
        <%= image_tag 'step3.jpg' %>
        <p><%= t '.we_blast_video' %></p>
      </li>
    </ul>
    <div>
    <p class="video-copyright">Videos &copy; their respective owners</p>
    </div>
  </section>
  
  <section class="pattern2 clearfix">
    <h1><%= t '.where_will_be_seen' %></h1>
    <article class="left first">
      <h1><%= t '.blogs_websites' %></h1>
      <p><%= t'.from_new_sites_to' %></p>
    </article>
    <article class="left">
      <h1><%= t '.web_mobile' %></h1>
      <p><%= t '.whether_your_viewers' %></p>
    </article>
  </section>

  <section class="pattern3">
    <h1><%= t '.but_is_viral' %></h1>
    <p><%= t '.cant_guarantee' %></p>
    <div class="you_post_video"><%= t '.you_post_video' %></div>
    <div class="you_kick_ass"><%= t '.you_kicking_ass' %></div>
  </section>

  <section class="pattern4">
    <div class="top-border"></div>
    <div class="clearfix">
      <article class="left first">
        <h1><%= t '.analytics_dashboard' %></h1>
        <p><%= t '.metrics' %></p>

        <ul class="home_sprite pie-chart">
          <li class="measure"><%= t '.measure_engagement' %></li>
          <li class="track"><%= t '.track_visitor_stats' %></li>
          <li class="roi"><%= t '.great_roi' %></li>
        </ul>

      </article>
      <article class="left">
        <h1><%= t '.adwords_suck' %></h1>
        <p><%= t '.face_it_nobody_likes' %></p>
        <ul class="home_sprite tags">
          <li class="hide-text">SPORTS</li>
          <li class="hide-text">LIFESTYLE</li>
          <li class="hide-text">MOVIES</li>
          <li class="hide-text">TECHNOLOGY</li>
          <li class="hide-text">STARTUPS</li>
          <li class="hide-text">DESIGN</li>
          <li class="hide-text">MUSIC</li>
          <li class="hide-text">FOOD</li>
        </ul>
      </article>
    </div>
    <div class="bottom-border"></div>
  </section>
  <section class="pattern5">
    <h1><%= t '.ready_to_be_seen' %></h1>
    <p><%= t '.ready_to_get_views' %></p>
    <a href="#" class="button"><%= t '.blast_off_now' %></a>
  </section>
</section>