<section class="publishers">
  <section class="hero publishers_bg">
    <h1><%= t '.make_money_sharing_videos' %></h1>
    <p><%= t 'static.publishers.get_started' %></p>
    <div class="sign-up">
      <%= link_to t('.sign_up_now'), new_user_registration_path, class: "button clipjet-color" %>
    </div>

  </section>
  <section class="pattern1">
    <h1><%= t 'static.publishers.we_make_it_easy' %></h1>
    <ul class="clearfix">
      <li class="left">
        <article>
          <div class="publishers_join publishers_sprite"></div>
          <h1>1. <%= t '.join' %></h1>
          <p><%= t '.step1_paragraph' %></p>
        </article>
      </li>
      <li class="left">
        <article>
          <div class="publishers_tag publishers_sprite"></div>
          <h1>2. <%= t '.choose' %></h1>
          <p><%= t '.step2_paragraph' %></p>
        </article>
      </li>
      <li class="left">
        <article>
          <div class="publishers_earn publishers_sprite"></div>
          <h1>3. <%= t '.earn' %></h1>
          <p><%= t '.step3_paragrah' %></p>
        </article>
      </li>
    </ul>
  </section>
  <section class="pattern2 publishers_bg">
    <h1>
      <span class="small"><%= t '.your_friends_get' %></span>
      <span><%= t '.exciting' %></span>
      <span class="relevant"><%= t '.fresh' %></span>
      <span class="content"><%= t '.content' %></span>
    </h1>
    <p><%= t 'static.publishers.awesome_videos' %></p>
  </section>
  <section class="pattern3 clearfix">
    <div class="pull-left wp-integration social"></div>
    <div class="pull-left wp-article">
      <h1><%= t '.top' %> <span class="everywhere"><%= t '.social_networks' %></span></h1>
      <p><%= t '.you_choose_social_network' %>.</p>
    </div>
  </section>

  <section class="pattern4">
    <div class="top-border"></div>
    <div class="clearfix">
      <article class="left first">
        <h1><%= t 'static.publishers.full_earning_analytics' %></h1>
        <p><%= t '.analytics_paragraph' %></p>
        <div class="publishers_sprite publishers_analytics"></div>

      </article>
      <article class="left adwords">
        <h1><%= t '.filter_by_category' %></h1>
        <p><%= t '.category_paragraph' %></p>
        <ul class="publishers_sprite tags">
          <li class="hide-text">SPORTS</li>
          <li class="hide-text">LIFESTYLE</li>
          <li class="hide-text">MOVIES</li>
          <li class="hide-text">TECHNOLOGY</li>
          <li class="hide-text">STARTUPS</li>
          <li class="hide-text">DESIGN</li>
          <li class="hide-text">MUSIC</li>
          <li class="hide-text">FOOD</li>
        </ul>
      </article>
    </div>
    <div class="bottom-border"></div>
  </section>

  <section class="pattern5">
    <h1><%= t 'static.publishers.ready_to_get_paid' %></h1>
    <p><%= t '.ready_to_get_paid_content' %></p>
    <a href="#" class="button"><%= t 'static.publishers.blast_off_now' %></a>
  </section>

</section>