<section class="publishers">
	<section class="hero publishers_bg">
		<h1><%= t '.rocket_your_earnings' %></h1>
		<p><%= t '.get_started' %></p>

    <%= form_for Site.new, html: {class: 'rounded input'} do |f| %>
      <%= f.url_field :url, placeholder: t('.enter_your_website_url'), class: 'non-focus'  %>
      <%= f.button t('.join_us'), class: 'button' %>
    <% end %>

	</section>
	<section class="pattern1">
		<h1><%= t '.we_make_it_easy' %></h1>
    <ul class="clearfix">
      <li class="left">
      	<article>
      		<div class="publishers_join publishers_sprite"></div>
					<h1>1. <%= t '.join' %></h1>
	        <p><%= t '.step1_paragraph' %></p>
        </article>
      </li>
      <li class="left">
      	<article>
	        <div class="publishers_tag publishers_sprite"></div>
	        <h1>2. <%= t '.tag' %></h1>
	        <p><%= t '.step2_paragraph' %></p>
        </article>
      </li>
      <li class="left">
      	<article>
	        <div class="publishers_earn publishers_sprite"></div>
	        <h1>3. <%= t '.earn' %></h1>
	        <p><%= t '.step3_paragrah' %></p>
        </article>
      </li>
    </ul>
	</section>
	<section class="pattern2 publishers_bg">
		<h1>
			<span class="small"><%= t '.your_visitors_get' %></span>
			<span><%= t '.exciting' %></span>
			<span class="relevant"><%= t '.relevant' %></span>
			<span class="content"><%= t '.content' %></span>
		</h1>
		<p><%= t '.awesome_videos' %></p>
	</section>
	<section class="pattern3 clearfix">
		<div class="pull-left wp-integration publishers_sprite publishers_wp"></div>
		<div class="pull-left wp-article">
			<h1><%= t '.integrates' %> <span class="everywhere"><%= t '.everywhere' %></span></h1>
			<p><%= t '.our_js_widget' %></p>
		</div>
	</section>

  <section class="pattern4">
    <div class="top-border"></div>
    <div class="clearfix">
      <article class="left first">
        <h1><%= t '.full_earning_analytics' %></h1>
        <p><%= t '.analytics_paragraph' %></p>
        <div class="publishers_sprite publishers_analytics"></div>

      </article>
      <article class="left adwords">
        <h1><%= t 'static.home.adwords_suck' %></h1>
        <p><%= t 'static.home.face_it_nobody_likes' %></p>
        <ul class="publishers_sprite tags">
          <li class="hide-text">SPORTS</li>
          <li class="hide-text">LIFESTYLE</li>
          <li class="hide-text">MOVIES</li>
          <li class="hide-text">TECHNOLOGY</li>
          <li class="hide-text">STARTUPS</li>
          <li class="hide-text">DESIGN</li>
          <li class="hide-text">MUSIC</li>
          <li class="hide-text">FOOD</li>
        </ul>
      </article>
    </div>
    <div class="bottom-border"></div>
  </section>

  <section class="pattern5">
    <h1><%= t '.ready_to_get_paid' %></h1>
    <p><%= t '.ready_to_get_paid_content' %></p>
    <a href="#" class="button"><%= t '.blast_off_now' %></a>
  </section>

</section>