<section class="promote-video">
  <%= render 'shared/new_campaign_hero' %>
  <div class="content">
    <div class="clearfix">
      <legend class="left"><i class="icon-ok icon-white"></i></legend>
      <legend class="left"><i class="icon-ok icon-white"></i></legend>
      <legend class="left"><i class="icon-ok icon-white"></i></legend>
      <h2><%= t '.campaign_created', campaign: @campaign.name %></h2>
    </div>
    <div>
      <p>
        <% if @campaign.balance > 0 %>
          <%= t'.campaign_completion_with_credit_paragraph' %>
        <% else %>
          <%= t'.campaign_completion_without_credit_paragraph' %>
        <% end %>
      </p>
    </div>
  </div>

</section>