<section class="promote-video">
  <%= render 'shared/new_campaign_hero' %>
  <section>
    <div class="content">
      <div class="clearfix">
        <legend class="active left">1</legend>
        <h2 class="left"><%= t '.add_new_clip' %></h2>
        <div class="right">
          <legend class="left">2</legend>
          <legend class="left">3</legend>
        </div>
      </div>
      <% if flash[:error] %>
        <p class="error"><%= flash[:error] %></p>
      <% end %>
      <%= form_tag video_registration_path, class: 'url-form' do %>
        <%= url_field_tag :video_url, nil, placeholder: t('.enter_a_youtube_video_url_including_http'), class: 'non-focus' %>
        <%= button_tag t('.add_video'), class: 'button submit' %>
      <% end %>
    </div>
  </section>
</section>