<% content_for :morris do %>
  <%= javascript_include_tag 'morris' %>
<% end %>

<section class="pattern10">
  <%= render 'shared/publisher_stats_hero', hero: t('.site_views') %>
  <div class="content">
    <h2><%= t('earnings.index.site') %>: <%= @site.url %></h2>
    <br/>
    <br/>
    <%= content_tag :div, "", id: "stats_chart", data: { label: @label, stats: @stats } %>
    <%= content_tag :div, "", id: "country_pie", data: { stats: @country_stats } %>
  </div>
</section>