<section class="pattern9">
  <section class="section9 clearfix">
    <div>
        <h1><%= t('devise.passwords.user.change_my_password').upcase %></h1>
        <br/>
        <br/>
        <div class="rounded form clearfix">
          <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>
            <%= f.label :password, t('devise.passwords.user.new_password') %>
            <%= f.password_field :password %>
            <%= f.label :password_confirmation, t('devise.passwords.user.confirm_new_password') %>
            <%= f.password_field :password_confirmation %>
            <%= f.button t('devise.passwords.user.change_my_password'), class: 'rounded btn' %>
          <% end %>
        </div>

    </div>
  </section>
</section>