<section class="pattern9">
  <section class="section9 clearfix">
    <div>
        <h1><%= t('devise.sessions.user.forgot_password').upcase %></h1>
        <br/>
        <br/>
        <div class="rounded form clearfix">
          <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.label :email, t('devise.shared.user.your_email') %>
            <%= f.email_field :email %>
            <%= f.button t('devise.passwords.send_me_instructions'), class: 'rounded btn' %>
          <% end %>
        </div>

    </div>
  </section>
</section>