<section class="campaigns">
  <%= render 'shared/campaign_stats_hero', hero: t('.your_campaigns') %>
  <div class="content">
    <table class="table table-hover">
    	<thead>
    		<tr>
    			<th></th>
    			<th><%= t '.campaign_name' %></th>
    			<th><%= t '.balance' %></th>
          <th><%= t '.impressions' %></th>
    			<th><%= t '.views' %></th>
    		</tr>
    	</thead>
    	<tbody>
        <% @campaigns.each do |campaign| %>
    		<tr class="campaign" id=<%= dom_id(campaign) %>>
    			<td class="small-thumbnail"><%= image_tag(campaign.small_thumbnail) if campaign.small_thumbnail %></td>
    			<td class="name"><%= campaign.name %></td>
    			<td class="balance"><%= campaign.balance %></td>
          <td class="impressions"><%= link_to campaign.total_impressions, campaign_impressions_path(campaign) %></td>
    			<td class="views"><%= link_to campaign.total_views, views_campaign_path(campaign) %></td>
          <td class="buy_credits">
            <%= link_to UnicodeUtils.upcase(t('credits_purchases.new.buy_credits')).upcase, new_campaign_credits_purchase_path(campaign), class: 'button clipjet-color' %>
          </td>
          <td class="edit">
            <%= link_to edit_campaign_path(campaign), class: 'button' do %>
              <i class="icon-pencil icon-white"></i> <%= t '.edit' %>
            <% end %>
          </td>
    		</tr>
        <% end %>
    	</tbody>
    </table>
  </div>
</section>