<section class="promote-video">
  <%= render 'shared/new_campaign_hero' %>
  <div class="content">
    <div class="clearfix">
      <legend class="left"><i class="icon-ok icon-white"></i></legend>
      <legend class="active left">2</legend>
      <h2 class="left"><%= t '.design_your_campaign' %></h2>
      <div class="right">
        <legend class="left">3</legend>
      </div>
    </div>
    <div class="clearfix">
      <div class="left video-detail">
        <div id="player"></div>
        <p class="video_title"><%= "#{t('.title')}: #{@info.title}" %></p>
        <p class="video_views"><%= "#{t('.view_count')}: #{@info.viewCount}" %></p>
        <p class="video_duration"><%= "#{t('.duration')}: #{Time.at(@info.duration).utc.strftime("%H:%M:%S")}" %></p>
      </div>
      <div class="left">
        <%= form_for @campaign do |f| %>
          <h3><%= t('.campaign_details') %></h3>
          <% @campaign.errors.full_messages.each do |msg| %>
            <p><%= msg %></p>
          <% end %>
          <%= f.hidden_field :video_url, value: @campaign.video_url %>
          <%= hidden_field_tag :video_duration, DurationEncryptor.encrypt(@campaign.video_duration) %>
          <%= f.hidden_field :yt_count, value: @info.viewCount %>
          <%= f.hidden_field :thumbnail, value: @info.thumbnail %>
          <%= f.hidden_field :small_thumbnail, value: @info.small_thumbnail %>
          <%= f.label :name, t('.campaign_name') %>
          <%= f.text_field :name %>
          <%= f.label :description, t('.description') %>
          <%= f.text_area :description, rows: 8 %>
          <%= f.label :site_url, t('.link_url') %>
          <%= f.url_field :site_url %>
          <%= f.label :category_id, t('.please_select_one_category') %>
          <%= f.collection_select(:category_id, Category.name_order.all, :id, :name) %>
          <%= f.label :language, t('.please_select_one_language') %>
          <%= f.select(:language, LANGUAGES) %>
          <div>
            <%= f.button t('.create_campaign'), class: 'pull-right button submit' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</section>


<script>
  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '200',
      width: '270',
      videoId: '<%= @info.id %>',
      playerVars: { 'autohide': 1, 'showinfo': 0 },
    });
  }
</script>