/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require gritter
 */
@import "bootstrap";
@import "template";
@import "publishers";
@import "users";
@import "campaigns";
@import "influencers";


.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.btn {
  line-height: 36px;
  padding: 2px 1em;
  font-size: 0.9em;
  color: #FFF;
  background: #111111;
}

.btn:hover {
  color: #333;
  background: #ccc;
}

.lead {
  font-size: 21px;
  font-weight: 200;
  line-height: 1.5em;
}