.promote-video, .campaigns, .pattern10 {
  min-height: 600px;
  width: 1366px;
  margin: 0 auto;
  .hero {
    background: no-repeat url(image-path('promote_video_1.jpg'));
    height: 220px;
    text-align: left;
    margin-bottom: 60px;

    h1 {
      margin: 0;
      padding: 80px 140px;
    }
  }

  .step, .content {
    margin-left: 210px;
    margin-right: 215px;
    > div {
      margin-bottom: 60px;
    }
    .url-form {
      border: 1px solid #bbb;
      border-radius: 3px;
      height: 74px;
      box-shadow: inset 0px 0px 8px #aaa;
      input {
        margin-left: 35px;
        font-family: 'Open Sans', Arial, sans-serif;
        font-style: italic;
        font-size: 20px;
        vertical-align: baseline;
        line-height: 20px;
        margin-top: 21px;
        width: 70%;
      }
      .field_with_errors {
        display: inline;
      }
    }
    pre {
      margin: 0;
      float: none;
    }
    table td{
      vertical-align: middle;
      form {
        margin: 0;
      }
    }
  }


  h2 {
    line-height: inherit;
    font-family: 'Open Sans', sans-serif;
    color: #000;
  }

  legend {
    border: none;
    text-align: center;
    font-size: 1em;
    background-color: #222;
    width: 35px;
    height: 35px;
    color: white;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    padding: 0 2px 4px;
    margin: 0 18px 0 0;
  }

  legend.active {
    background-color: #AD2978
  }

  h3 {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #000;
  }

  .video-detail {
    margin-top: 20px;
    width: 260px;
    img {
      width: 250px
    }
    p {
      font-size: 0.8em;
    }
  }

  .edit_user, .new_campaign, .edit_campaign {
    input[type="text"], textarea, input[type="email"], input[type="url"], select {
      border: 1px solid #bbb;
      border-radius: 3px;
      height: 54px;
      width: 600px;
      box-shadow: inset 0px 0px 8px #aaa;
      font-size: 1.4em; 
    }
    textarea {
      font-size: 1em;
      height: 100%;
    }
  }

  .new_campaign, .edit_campaign {
    margin-left: 60px;
    select {
      width: 615px;
    }
  }

  .payment-params {
    form {
      label, > div {
        font-size: 1.2em;
      }
      .span4 div {
        font-size: 0.7em;
      }
    }
  }

}


.campaigns .content {
  margin-left: 150px;
  margin-right: 150px;
  .buy_credits a{
    display: inline-block;
    width: 140px;
  }

  .edit a{
    display: inline-block;
    width: 70px;
  }
}

.clipjet-color{
  background-color: #AE2975;
}

.clipjet-color:hover{
  background-color: #952364;
}



button.submit {
  background-color: #AE2975;
  height: 54px;
  width: 220px;
  font-size: 1em;
}
button.submit:hover{
  background-color: #952364;
}

header nav li .active {
  border-top: 8px #AD2978 solid;
  padding-top: 22px;
  margin-top: -30px;
}


.pricing-table .plan {
  border-radius: 5px;
  text-align: center;
  background-color: #f3f3f3;
  -moz-box-shadow: 0 0 6px 2px #b0b2ab;
  -webkit-box-shadow: 0 0 6px 2px #b0b2ab;
  box-shadow: 0 0 6px 2px #b0b2ab;
  h2 {
    color: #fff;
  }
}
 
 .plan:hover {
  background-color: #fff;
  -moz-box-shadow: 0 0 12px 3px #b0b2ab;
  -webkit-box-shadow: 0 0 12px 3px #b0b2ab;
  box-shadow: 0 0 12px 3px #b0b2ab;
}
 
 .plan {
  padding: 20px;
  color: #ff;
  background-color: #5e5f59;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
  
.plan-name-bronze {
  padding: 20px;
  color: #fff;
  background-color: #665D1E;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
 }
  
.plan-name-silver {
  padding: 20px;
  color: #fff;
  background-color: #C0C0C0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
 }
  
.plan-name-gold {
  padding: 20px;
  color: #fff;
  background-color: #FFD700;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  } 
  
.pricing-table-bronze  {
  padding: 20px;
  color: #fff;
  background-color: #f89406;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
  
.pricing-table .plan .plan-name span {
  font-size: 20px;
}
 
.pricing-table .plan ul {
  list-style: none;
  margin: 0;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
 
.pricing-table .plan ul li.plan-feature {
  padding: 15px 10px;
  border-top: 1px solid #c5c8c0;
}
 
.pricing-three-column {
  margin: 0 auto;
  width: 80%;
}
 
.pricing-variable-height .plan {
  float: none;
  margin-left: 2%;
  vertical-align: bottom;
  display: inline-block;
  zoom:1;
  *display:inline;
}
 
.plan-mouseover .plan-name {
  background-color: #4e9a06 !important;
}
 
.btn-plan-select {
  padding: 8px 25px;
  font-size: 18px;
}

.accordion-inner {
  white-space: pre-line;
}
