.preview {
  position: relative;
  a {
    position: absolute;
    display: block;
    background: url(image-path('play-button.png')) center no-repeat;
    height: 90px;
    width: 120px;
    top: 0px
  }
}
.description {
  font-size: 0.8em;
}