// Place all the styles related to the publishers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.publishers, .faq {
  section.publishers_bg, .hero{ background:url(image-path("publishers_bg.jpg")) top left no-repeat; }
  section.hero {
    width:1366px; 
    height:489px; 
    background-position:-10px -10px;
    p{
      font-family: 'ProximaNovaLight', Arial, sans-serif;
      font-size: 27px;
    }

    .sign-up {
      margin-top: 50px;
      a {
        padding: 20px;
        font-size: 1.5em;
      }
    }
  }

  .publishers_sprite{ background:url(image-path("publishers_sprite.png")) top left no-repeat; }  
  .social{ 
    background:url(image-path("social.png")) top left no-repeat;
    width: 359px;
    height: 318px;
  }  
  .publishers_analytics{ width:484px; height:357px; background-position:-10px -10px; }
  .publishers_wp{ width:359px; height:316px; background-position:-10px -377px; }
  .publishers_earn{ width:88px; height:88px; background-position:-379px -377px; }
  .publishers_tag{ width:88px; height:88px; background-position:-366px -703px; }
  .publishers_join{ width:88px; height:88px; background-position:-10px -861px; }

  .pattern1{
    ul {
      margin-bottom: 110px;
    }
    article {
      margin-top: 10px;
      div {
        margin: 0 auto;
      }
      h1{
        font-size: 60px;
        line-height: 100%;
        margin-top: 40px;
      }
      p {
        text-align: center;
        color: #868686;
      }
    }
    margin-bottom: 50px;
  }



  section.pattern2 {
    width:1366px; 
    height:470px; 
    background-position:-10px -509px;
    text-align: left;
    h1 {
      width: 379px;
      font-size: 75px;
      
      line-height: 90%;

      padding-top: 95px;
      .small {
        font-size: 35px;
        line-height: 33%;
      }

      .relevant {
        letter-spacing: -0.07em;
      }

      .content {
        letter-spacing: -0.03em;
      }

    }

    h1, p {
      margin-left: 180px;
    }

    p {
      width: 379px;
      color: #fff;
    }
  }

  section.pattern3 {
    .wp-integration {
      margin-top: 150px;
      margin-left: 255px;
    }

    .wp-article {
      float: left;
      margin-top: 164px;
      margin-left: 205px;
    }

    h1 {
      width: 379px;
      font-size: 58px;
      text-align: left;
      line-height: 100%;
      .everywhere {
        font-size: 56px;
        letter-spacing: -3px;
      }
    }
    p{
      width: 350px;
      line-height: 150%;
      text-align: left;
      margin: 0;
    }
  }

  section.pattern4{
    .tags{ width:346px; height:148px; background-position:-10px -703px; }
    .adwords {
      border-left: 2px solid #ddd;
      margin-left: 0;
      padding-left: 100px;
      padding-bottom: 50px;
    }
    .first {
      padding-right: 0;
      border: none;
      margin-bottom: 0;
    }
    .top-border {
      margin-top: 110px;
    }
  }

}