@import "bootstrap";
@import "template";

body {
  background: url(image-path('beautiful-blue-stars-fill.jpg'));
  color: #fff;
}

h1{
  font-family: 'ProximaNovaBold', Helvetica, Arial, sans-serif;
}
h2, h3, p{
 font-family: 'ProximaNovaLight', Helvetica, Arial, sans-serif; 
}

.content {
  position: absolute;
  height: 300px;
  top: 10%;
  width: 100%;
}

.wrap {
  margin: 0 auto;
  width: 700px;
}

.social {
  > a {
    margin-left: 8px;
    float: right
  }
}