/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

button, input[type="submit"] {
	border: none;
	cursor: pointer;
	margin: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

iframe {
	border: none;
	width: 100%;
	display: block;
}
/* Defaults */
body,input,button {
	font-family: "Open Sans",arial,tahoma,serif;
	font-size: 12pt;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.cleft {
	clear: left;
}

.cright {
	clear: right;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

body>div>header,body>div>section,body>div>footer {
	width: 1030px;
	margin: auto;
	padding: 15px;
}

.rounded {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.lead {
	font-size: 21px;
	font-weight: 200;
	line-height: 1.5em;
}
hr{
	border:thin solid #ccc;
	border-top:none;
	margin:1em 0;
}
h1,h2,h3,h4,h5,h6 {
	line-height: 1.5em;
}
.uppercase{
	text-transform:uppercase;
}
.btn {
	line-height: 36px;
	padding: 2px 1em;
	font-size: 0.9em;
	color: #FFF;
	background: #219ecb;
}

.btn:hover {
	color: #333;
	background: #ccc;
}
.btn2 {
	line-height: 36px;
	padding: 2px 1em;
	font-size: 0.9em;
	color: #333;
	background: #eee;
}

.btn:hover {
	color: #FFF;
	background: #197BA0;
}

.hidden {
	display: none;
}
/* Popup */
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
}

.popup>div {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 640px;
	height: 480px;
	margin-top: -240px;
	margin-left: -320px;
	background: #fff;
}

.popup div.close {
	position: absolute;
	width: 24px;
	height: 24px;
	line-height: 24px;
	margin-left: 628px;
	margin-top: -12px;
	background: #aaa;
	border: thin solid #eee;
	text-align: center;
	cursor: pointer;
	padding: 4px;
}

.popup  input[type=text] {
	font-size: 1.1em;
	border: thin solid #ccc;
	font-style: italic;
	padding: 8px;
	outline: none!important;
	display: block;
}
/* Backgrounds */
.pattern1 {
	background: url('/images/pattern_1.jpg') top center no-repeat;
}

.pattern2 {
  // background: url('/images/pattern_2.jpg') top center no-repeat;
  background-color: #eee;
}

.pattern3 {
	background: url('/images/pattern_3.jpg') top center no-repeat;
}
.pattern5 {
	background: url('/images/pattern_5.jpg') top center no-repeat;
}
.pattern7 {
	background: #111111 url('/images/pattern_7.jpg') top center no-repeat;
}
.pattern9 {
	background: #111111 url('/images/pattern_9.jpg') top center no-repeat;
}
/* Header */
header>div>a,header>div>div>a,header>div>div>div>a {
	line-height: 36px;
	padding: 2px 1em;
	font-size: 0.9em;
	color: #999;
	margin-right: 15px;
}

header a:hover {
	color: #111;
}

header a.logo {
	background: transparent url('/images/logo.png')center center no-repeat !important;
	text-indent: -999px;
	color: #333;
	display: block;
	padding: 0 50px;
}

header div.login>div {
	position: absolute;
	height: 0px;
	width: 0px;
}

header div.login:hover>div>a {
	box-shadow: 0px 0px 10px #ccc;
}

header div.login>div>div {
	background: #fff;
	margin-right: 15px;
	width: 240px;
	box-shadow: 0px 0px 10px #ccc;
	display: none;
}

header div.login>div>div>div {
	padding: 10px;
}

header div.login:hover>div>div {
	display: block;
}

header div.login .flush {
	line-height: 36px;
	padding: 2px 1em;
	font-size: 0.9em;
	background: #fff;
	color: #999;
	height: 5px;
	margin-top: -5px;
}

header div.login .form label,header div.login .form a {
	font-size: 0.8em;
	color: #999;
}

header div.login input[type=text],header div.login input[type=password] {
	color: #999;
	padding: 2%;
	width: 94%;
	margin: 0.5em 1% 0.7em 1%;
	border: thin solid #999;
	outline: none !important;
}
/* Input */
.input {
	background: #fff;
	width: 500px;
	line-height: 50px;
	margin: 40px auto 0 auto;
	padding: 2px;
}

.input input {
	font-size: 1.1em;
	width: 360px;
	border: none;
	font-style: italic;
	padding: 0 3px;
	outline: none!important;
}

label {
  display: block;
}

.input input:focus::-webkit-input-placeholder {
	color: white;
}

.input input:focus:-moz-placeholder {
 /* Firefox 18- */
	color: white;
}

.input input:focus::-moz-placeholder {
  /* Firefox 19+ */
	color: white;
}

.input input:focus:-ms-input-placeholder {
	color: white;
}

.input button, .input input[type="submit"] {
	font-size: 1.1em;
	width: 120px;
	font-style: normal;
  // border-bottom: 3px solid #73202B;
  // border-right: 2px solid #73202B;
  
  // &:hover {
  //    border-bottom: 3px solid #aaa;
  //    border-right: 2px solid #aaa;
  // }
  // 
  // &:active {
  //   border-bottom: 1px solid #aaa;
  //   border-right: 1px solid #aaa;
  // }
} 

.input2 {
	background: #eee;
	line-height: 50px;
	margin: 40px auto 0 auto;
	padding: 12px;
}

.input2 input {
	font-size: 1.1em;
	width: 70%;
	border: none;
	color:#777;
	font-style: italic;
	padding: 10px 3px;
	outline: none!important;
	background:none;
}

.input2 input:focus::-webkit-input-placeholder {
	color: #eee;
}

.input2 input:focus:-moz-placeholder {
 /* Firefox 18- */
	color: #eee;
}

.input2 input:focus::-moz-placeholder {
  /* Firefox 19+ */
	color: #eee;
}

.input2 input:focus:-ms-input-placeholder {
	color: #eee;
}

.input2 button {
	padding:6px 24px;
	border-bottom: 3px solid #73202B;
	border-right: 2px solid #73202B;
}

.input2 button:hover {
	border-bottom: 3px solid #aaa;
	border-right: 2px solid #aaa;
}

.input2 button:active {
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
}
/* Section 1 */
.section1>div {
	padding: 80px;
	text-align: center;
	color: #fff;
}

.section1 h1 {
	font-size: 48px;
	margin-bottom: 10px;
}
/* Section 2 */
.section2>div {
	padding: 60px 15px;
	text-align: center;
}

.section2 h2 {
	font-size: 32px;
}

.section2 .vertise {
	float: left;
	margin: 4% 0 4% 4%;
	width: 26%;
	padding: 1%;
	background: #ccc url('/images/vertise_bg.jpg') bottom center no-repeat;
	min-height: 140px;
	color: #fff;
}

.section2 .vertise span {
	font-size: 3em;
	display: block;
	padding-top: 0.3em;
}

.section2 .prom1 {
	background-color: #e9ba62;
}

.section2 .prom2 {
	background-color: #dd604e;
}

.section2 .prom3 {
	background-color: #9f2c39;
}

.section2 .lead {
	font-size: 1.7em;
	width: 580px;
	margin: auto;
	
}
/* Section 3 */
.section3>div {
	padding: 40px;
	text-align: center;
  // color: #fff;
}

.section3 h2 {
	font-size: 32px;
}
/* Section 4 */
.section4>div {
	padding: 24px;
	text-align: center;
	color: #fff;
}

.section4 h2 {
	font-size: 32px;
}
/* Section 5 */
.section5>div {
	padding: 42px;
	text-align: center;
	color: #fff;
}

.section5 h1 {
	font-size: 54px;
}

.section5 .btn2 {
  padding: 2px 1em;
  display: inline-block;
}

/* Section 6 */
.section6>div {
	padding: 60px 15px;
	text-align: left;
}
.section6 h2 {
	font-size: 2.5em;
	text-align:center;
}
.section6 .vertise {
	margin: 4% 0 4% 4%;
	width: 26%;
	padding: 1%;
	background: #190D20;
	min-height: 140px;
	color: #fff;
}.section6 .vertise2 {
	margin: 4% 0 4% 4%;
}.section6 .vertise2 h3 {
	font-size:1.7em;
	line-height: 2em;
	display:block;
}

.section6 .prom1 {
	background: #190D20 url('/images/s6_p1.jpg') center center no-repeat;
}

.section6 .prom2 {
	background: #190D20 url('/images/s6_p2.jpg') center center no-repeat;
}

.section6 .prom3 {
	background: #190D20 url('/images/s6_p3.jpg') center center no-repeat;
}

.section6 .lead {
	font-size: 1.2em;
	width: 580px;
	margin: auto;
	
}
/* Section 7 */
.section7>div {
	padding: 60px;
	text-align: center;
	color: #fff;
}

.section7 h2 {
	font-size: 3em;
}
.section7 .lead {
	font-size: 1.7em;
	width: 500px;
	margin: auto;
}
/* Section 8 */
.section8>div {
	padding: 60px 15px;
	text-align: center;
}

.section8 h2 {
	font-size: 32px;
}

.section8 .vertise {
	float: left;
	margin: 4% 0 4% 4%;
	width: 26%;
	padding: 1%;
	background: #190d21;
	min-height: 140px;
	color: #fff;
}

.section8 .vertise span {
	font-size: 3em;
	display: block;
	padding-top: 0.3em;
}

.section8 .prom1 {
	background: #190D20 url('/images/s8_p1.jpg') center center no-repeat;
}

.section8 .prom2 {
	background: #190D20 url('/images/s8_p2.jpg') center center no-repeat;
}

.section8 .prom3 {
	background: #190D20 url('/images/s8_p3.jpg') center center no-repeat;
}

.section8 .lead {
	font-size: 1.2em;
	width: 580px;
	margin: auto;
}
/* Section 9 */
.section9>div {
	padding: 60px 15px;
	text-align: center;
	color:#fff;
}
.section9 a{
	color:#219ecb;
}

.section9 h1 {
	font-size: 32px;
}

.section9 .form {
	margin: auto;
	width: 382px;
	padding: 20px;
	background: #fff;
	min-height: 140px;
	text-align:left
}
.section9 .form  label,.section9 .form a {
	font-size: 0.9em;
	color: #999;
}
.section9 .form  button, .secton9 .form .button {
	width:100%;
}
.section9  .fp{
	color:#fff;
	font-size:0.8em;
	line-height:4em;
}

.section9 .form input[type=text], .section9 .form input[type="email"], .section9 .form input[type="url"], .section9 .form input[type=password] {
	color: #555;
	padding: 10px;
	width: 94%;
	margin: 0.5em 1% 0.7em 1%;
  // border: thin solid #999;
	background-color: #eee;
	outline: none !important;
	@extend .rounded;
}
.section9 .lead {
	font-size: 1.2em;
	width: 580px;
	margin: auto;
}
/* Section 10 */
.section10>div {
	padding: 30px
}
/* Section 11 */
.section11>div {
	padding: 30px;
	min-height:400px;
}
.section11  h2{
	font-size:2em;
	margin: 0 1% 0.8em 1%;
}
.section11 .h1{
	margin: 15px 0
}.section11 .h1 legend{
	display:block;
	float:left;
	background:#DD604e;
	width:2em;
	height:2em;
	line-height:2.1em;
	border-radius:1em;
	color:#fff;
	text-align:center;
}
.section11 .h1 span{
	display:block;
	float:left;
	line-height:1em;
	padding:0 0.5em;
	font-size:1.5em;
}
.section11 .form {
	background: #fff;
	min-height: 140px;
	text-align:left
}
.section11 .form form h2{
	font-size:1.5em;
	margin: 0 1% 0.2em 1%;
}
.section11 .form form button {
	padding: 2px 2em;
}
.section11 .form form {
	padding:0 1.5em;
}
.section11 .form  label,.section9 .form a {
	font-size: 0.8em;
	color: #777;
	margin: 0.5em 1% 0.7em 1%;
}
.section11 ul li{
	padding:4px 0 4px 40px;
}
.section11 .form input[type=text],.section11 .form input[type=password],.section11 .form select {
	color: #777;
	padding: 2%;
	width: 94%;
	margin: 0.5em 1% 0.7em 1%;
	border: none;
	background:#eee;
	outline: none !important;
}
.section11 .form select{
	width:98%;
}
.section11 .form select *{
	border:none
}
/* Footer */
footer {
  padding: 20px;
}

footer div {
	padding: 5px;
	font-size: 0.9em;
	line-height: 1.1em;
}

header span {
  color: #999;
}
.new_advertiser, .new_publisher {
  
  .input {
    width: 378px;
    margin-top: 5px;
    margin-bottom: 0px;
  
    label {
      line-height: 1.0em;
    }
  
    input[type="text"], input[type="email"], input[type="url"]  {
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }
  
  select {
    width: 378px;
    font-size: 16px;
    line-height: 30px;
  }
    .button {
      width: 374px;
      margin-left: 4px;
    }
  
}

.error_notification {
  margin-bottom: 10px;
}


.error {
	color: rgb(207, 21, 21);
	margin-top: -20px;
  display: block;
  margin-left: 5px;
}
.paypal {
  margin: 20px auto;
  display: block;
}

.paypal_form {
  form p {
    color: #222;
    font-size: 17px;
    text-align: center;
    margin-top: 15px;
  }
}

.boolean {
  float: left;

}

label.boolean {
  margin-top: 3px;
}

input[type="checkbox"] {
  width: 20px;
  margin-bottom: 20px;
}