@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ProximaNovaBold';
    src: url(font-path('ProximaNova-Bold.eot'));
    src: url(font-path('ProximaNova-Bold.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('ProximaNova-Bold.woff')) format('woff'),
         url(font-path('ProximaNova-Bold.ttf')) format('truetype'),
         url(font-path('ProximaNova-Bold.svg')) format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
  font-family: 'ProximaNovaLight';
  src: url(font-path('ProximaNova-Light.eot'));
  src: url(font-path('ProximaNova-Light.eot') + '?#iefix') format('embedded-opentype'),
       url(font-path('ProximaNova-Light.woff')) format('woff'),
       url(font-path('ProximaNova-Light.ttf')) format('truetype'),
       url(font-path('ProximaNova-Light.svg')) format('svg');
  font-weight: normal;
  font-style: normal;
}


button {
  border: none;
  line-height: 18px;
  font-size: 15px;
  display: inline-block;
  vertical-align: baseline;
}

.input input {
  display: inline-block;
  vertical-align: baseline;
  width: 75%;
  outline: none !important;
  border: none;
  font-style: italic;
}
.right {
  float: right;
}

.left {
  float: left;
}

.button {
  background-color: #000;
  color: #f7f7f7;
  font-size: 13px;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 8px 1em;
  text-decoration: none
}

.button:hover{
  color: #f7f7f7;
  text-decoration: none;
  background-color: #282828;
}

.header {
  width: 1366px;
  margin: 0 auto;
}

header {
  margin: 20px auto;
  width: 938px;
}

header a, footer a {
  text-decoration: none;
}

header a:hover, footer a:hover {
  text-decoration: none;
}

header a h1 {
  width: 78px;
  height: 20px;
  background: no-repeat url(image-path('logo.png'));
}

header {
  nav, nav ul {
    margin-left: 70px;
  }
}

header nav ul {
  list-style: none;
  text-decoration: none;
  li a {
    line-height: 17px;
    font-size: 0.9em;
    color: #666666;
    padding:0 5px;
    margin-right:30px;
  };

  li a:hover {
    text-decoration: none;
    color: #111;
  };

}

header .session-nav {
  margin-left: 0;
  li a {
    margin: 0;
  }
  li a.login {
    margin-right: 30px;
  }
}

.footer-wrapper {
  background: no-repeat url(image-path('footer.jpg'));
  width: 1366px;
  margin: 0 auto;
}

footer {
  padding: 35px 0 0;
  margin: 0 auto;
  width: 938px;  

  .locale > select{
    width: 100px;
  }

  a h1 {
    width: 78px;
    height: 20px;
    background: no-repeat url(image-path('white_logo.png'));
  }

  nav, nav ul {
    margin-left: 70px;
    list-style: none;
    text-decoration: none;
  }

  list-style: none;
  text-decoration: none;
  li a {
    line-height: 17px;
    font-size: 0.9em;
    color: #fff;
    padding:0 5px;
    margin-right:30px;
  };

  li a:hover {
    text-decoration: none;
    color: #fff;
  };
}

section section {
  width: 1366px;
  margin: 0 auto;
}

.home_sprite{ background:url(image-path("home_sprite.png")) top left no-repeat; }

section section.hero {
  height: 489px;
  background: no-repeat url(image-path('hero.jpg'));
  text-align :center;
  h1 {
    font-size: 74px;
    line-height: 74px;
    width: 800px;
    margin: 0 auto;
    color: white;
    padding: 85px 0 4px;
  }
  p {
    font-size: 24px;
    line-height: 120%;
    color: white;
    width: 589px;
    margin: 10px auto 0;
  }
  form {
    margin-top: 30px;
  }
  .arrow {
    background-position:-245px -10px;
    width: 46px;
    height: 20px;
    position: relative;
    left: 50%;
    margin-left: -23px;
    top: 23%;
  }
}
  
$radius : 5px;
.rounded {
  background-color: white;
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}
.input {
  background-color: white;
  width: 500px;
  line-height: 48px;
  padding: 2px;
  margin: 0 auto;
}

section section {
  h1 { 
    font-family: 'ProximaNovaBold', Arial, sans-serif;
    color: #222;
    text-align: center;
  }
  > h1 {
    font-size: 40px;
    line-height: 100%;
  }

  p {
    text-align: center;
  }
}

section section.pattern1 {
  width: 1366px;
  margin: 0 auto;
  h1 {
    margin: 80px auto 0;
  }

  p {
    color: #555;
    line-height: 120%;
    margin: 25px auto 0;
  }

  > p {
    font-family: 'ProximaNovaLight', Arial, sans-serif;
    font-size: 24px;
    margin-top: 15px;
  }

  ul  {
    text-decoration: none;
    list-style: none;
    width: 1100px;
    margin: 35px 177px 63px;
    li {
      margin-left: 24px;
      margin-right: 24px;
      p {
        width: 290px;
        line-height: 130%;
        text-align: left;
        color: #444;
      }
    }
  }

  p.video-copyright {
    color: #b4b4b4;
    font-size: 12px;
    line-height: 130%;
    text-align: right;
    padding-right: 203px;
  }
}

section section.pattern1 ul li img {
  display: block;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
}



section section.pattern2 {
  height: 470px;
  background: no-repeat url(image-path('pattern2.jpg'));
  h1 {
    color: #fff;
  }
  > h1 {
    margin-top: 80px;
  }
  article {
    width: 682px;
    height: 150px;
    margin-top: 105px;
    h1 {
      font-size: 28px;
      line-height: 120%;
      width: 303px;
      padding-left: 88px;
    }
    p {
      line-height: 150%;
      width: 303px;
      padding-top: 10px;
      padding-left: 88px;
      color: #fff;
    }
  }
  article.first {
    border-right: 2px solid #878688;
    h1{
      padding-left: 250px;
    }
    p{
      padding-left: 250px;
    }
  }
}

section.main section.pattern3 {
  background: no-repeat url(image-path('graphic.jpg')); 
  width: 1062px;
  height: 482px;
}


section.main section.pattern3 {
  h1{
    margin-top: 80px;
  }

  p {
    width: 474px;
    line-height: 150%;
    margin: 0 auto;
  }

  div {
    font-family: 'ProximaNovaBold', Arial, sans-serif;
    font-size: 15px;
    line-height: 120%;
    color: #333;
  }
  .you_post_video {
    position: relative;
    top: 305px;
    left: 57px;
  }
  .you_kick_ass {
    position: relative;
    left: 880px;
    top: -131px;
  }
}


section section.pattern4 {
  .top-border {
    margin-top: 15px;
    border-top: 2px solid #ddd;
    margin-left: 195px;
    margin-right: 215px;
  }

  .bottom-border {
    border-bottom: 2px solid #ddd;
    margin-left: 195px;
    margin-right: 215px;
  }
  article {
    margin-left: 230px;
    margin: 100px;
    margin-top: 85px;
    h1 {
      width: 385px;
      text-align: left;
      font-size: 40px;
    }
    p {
      width: 360px;
      text-align: left;
      line-height: 150%;
      margin-top: 30px;
    }
    ul {
      list-style: none;
      text-decoration: none;
      margin: 30px 0 0;
      .measure{
        position: relative;
        left: 220px;
        top: 23px;
      }
      .track {
        position: relative;
        left: 240px;
        top: 69px;
      }
      .roi {
        position: relative;
        left: 240px;
        top: 111px;
      }
    }
  }
  .first {
    padding-right: 100px;
    margin-right: 0;
    border-right: 2px solid #ddd;
    padding-bottom: 30px;
    margin-bottom: 80px;
    margin-left: 196px;
    ul {
      margin-top: 20px;
    }
  }

  .pie-chart{ 
    width:225px;
    height:182px; 
    background-position:-10px -10px;
  }

  .tags{ 
    width:345px; 
    height:149px; 
    background-position:-10px -202px;
  }
}


section section.pattern5 {
  text-align: center;
  margin-bottom: 115px;
  h1 {
    font-size: 58px;
    margin-top: 110px;
  }
  p {
    width: 474px;
    line-height: 150%;
    margin: 20px auto 40px;
  }
  .button {
    display: inline-block;
    font-size: 23px;
    line-height: 120%;
    padding: 20px 1em;
    background-color: #AE2975;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }
  .button:hover {
    background-color: #952364;
  }
}

input.non-focus {
  border: none;
  outline: none !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
input.non-focus:focus {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

#error_explanation{
  color: #000;
}