.pattern9 {
  background: #02020e;
  .section9 {
    background: url(image-path('sessions_bg.jpg')) top center no-repeat;
    min-height: 1010px;
  }
  .section9>div {
    padding: 60px 15px;
    text-align: center;
    color:#fff;
  }
  .section9 a{
    color:#fff;
  }

  .section9 h1 {
    font-size: 4.625em;
    color: #fff;
  }

  .section9 .form {
    margin: auto;
    width: 340px;
    padding: 2%;
    background: #fff;
    min-height: 140px;
    text-align:left
  }
  .section9 .form  label,.section9 .form a {
    font-size: 0.8em;
    color: #999;
  }.section9 .form  button{
    width:100%;
    padding: 0.5em 1em;
  }.section9  .fp{
    color:#fff;
    font-size:0.8em;
    line-height:4em;
  }

  .section9 .form {
    input[type=text], input[type=password], input[type=email] {
      color: #999;
      padding: 4% 2%;
      width: 94%;
      margin: 0.5em 1% 0.7em 1%;
      border: thin solid #999;
      outline: none !important;
      box-shadow: inset 0px 0px 8px #aaa;
    }
  }
  .section9 .lead {
    font-size: 1.1em;
    width: 580px;
    margin: auto;
  }

  .section9 .form p {
    padding-top: 10px;
    a{
      color: #000;
    }
  }

}