

<%#= render "devise/shared/links" %>


<div class="pattern9">
	<section class="section9 clearfix">
		<div>
				<h1><%= t 'get_started_in_30_seconds' %></h1>

			<p class="lead"><%= t 'already_have_an_account' %> <a href="<%= new_advertiser_session_path %>"><%= t 'log_in_now' %></a></p>
				<br/>
				<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="rounded form clearfix">
            <%= f.input :email, :required => true, :autofocus => true, :label => t('your_email_address'), :class => 'rounded' %>
            <%= f.input :password, :required => true, :label => t('your_password'), :class => 'rounded' %>
            
            <%= f.input :url, :required => false, :label => t('company_url'), :class => 'rounded' %>
            
            
            <div class="input url advertiser_video_url">
              <label class="url" for="advertiser_video_url">Your video url</label>
              
              <input autofocus="autofocus" class="string url" id="advertiser_video_url" maxlength="255" name="advertiser[video_url]" size="50" type="url" value="<%= resource.video_url || session[:video_url] %>">
              
              <% if resource.errors && resource.errors[:video_url] && resource.errors[:video_url].first %>
                <span class="error"><%= resource.errors[:video_url].first %></span>
              <% end %>
            </div>
            
            <%= f.input :category_id, collection: Category.name_order, group_method: :name, :label => 'Video Category' %>
            

            <%= f.button :submit, t('start_promoting_your_video'), :class => 'rounded btn uppercase' %>
            
            
          </div>
        <% end %>
      
		</div>
	</section>
</div>

