<section class="pattern10">
  <%= render 'shared/publisher_stats_hero', hero: t('.account_stats') %>
  <div class="content">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= t '.site_url' %></th>
          <th><%= t '.views' %></th>
          <th><%= t '.earnings' %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @sites.each do |site| %>
        <tr class="site" id=<%= dom_id(site) %>>
          <td class="site"><%= site.url %></td>
          <td class="views"><%= link_to site.views_count, site_views_path(site) %></td>
          <td class="earnings"><%= link_to number_to_currency(site.earnings, precision: 3), site_earnings_path(site) %></td>
          <td class="edit-player"><%= link_to t('.edit_player'), site_widget_installs_path(site), class: 'button clipjet-color' %></td>
          <td>
            <%= link_to site, confirm: t('.are_you_sure_you_want_to_delete', site: site.url), method: :delete, class: 'button' do %>        
              <i class="icon-trash icon-white"></i> <%= t('.delete') %>
            <% end %>
          </td>
        </tr>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td class="total-earnings"><%= number_to_currency(current_user.wallet.balance, precision: 3) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>