<section class="pattern10">
  <%= render 'shared/install_clipjet_hero' %>
  <div class="content">
    <div class="clearfix">
      <legend class="active left">1</legend>
      <h2 class="left"><%= t '.add_new_site' %></h2>
      <div class="right">
        <legend class="left">2</legend>
      </div>
    </div>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>
    <% @site.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
    <%= form_for @site, html: {class: 'url-form'} do |f| %>
      <%= f.url_field :url, placeholder: t('.enter_your_site_url_including_http'), class: 'non-focus' %>
      <%= f.button t('.add_site'), class: 'button submit' %>
    <% end %>
  </div>
</section>