<section class="pattern10">
  <%= render 'shared/pick_clip_hero', hero: t('.influencer') %>
  <div class="content">

    <div class="clearfix">
      <legend class="active left">1</legend>
      <h2 class="left"><%= t '.pick_your_clip' %></h2>
      <div class="right">
        <legend class="left">2</legend>
      </div>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th><%= t '.campaign' %></th>
          <th><%= t '.payment' %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @campaigns.each do |campaign| %>
        <tr class="campaign" id=<%= dom_id(campaign) %>>
          <td class="small-thumbnail">
            <% if campaign.small_thumbnail %>
            <div class="preview">
              <%= image_tag(campaign.small_thumbnail) %>
              <%= link_to '', "#previewModal", role: 'button', data: {toggle: 'modal', videoId: campaign.video_id, name: campaign.name}%>
            </div>
            <% end %>
          </td>
          <td class="name span6"><%= campaign.name %></td>
          <td class="payment"><%= raw campaign.influencer_payment %>/<%= t('.per_view') %></td>
          <td class="choose">
            <%= form_for(@influencer_video) do |f| %>
              <%= f.hidden_field :campaign_id, value: campaign.id %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.button t('.choose_video'), class: 'button clipjet-color' %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>

<div id="previewModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="previewModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
  </div>
</div>