<div class="form clearfix">
	<%= form_tag new_advertiser_session_path, :class => 'form clearfix' do %>
		<%= label_tag :email, t('your_email_address') %>
		<%= text_field_tag :email, nil, :class => 'rounded' %>
		<%= label_tag :password, t('password'), :class => 'left' %>
		<%= password_field_tag :password, nil, :class => 'rounded left' %>
		<%= button_tag t('login'), :class => 'rounded right btn submit' %>
	<% end %>
</div>