<div>
  <%= link_to "ClipJet", root_path, :class => 'rounded left logo' %>
  <% if !advertiser_signed_in? && !publisher_signed_in? %>
    <%= link_to(t('promote_your_video'), new_advertiser_registration_path, :class => 'rounded left')  %>
    <%= link_to(t('become_a_publisher'), new_publisher_registration_path, :class => 'rounded left')  %>
  <% elsif advertiser_signed_in? %>
    <%= link_to(t('Pay'), advertiser_root_path, :class => 'rounded left')  %>
  <% elsif publisher_signed_in? %>
    <%= link_to(t('Install Plugin'), publisher_root_path, :class => 'rounded left')  %>
  <% end %>

  <% if !advertiser_signed_in? && !publisher_signed_in? %>
    <a href='<%= new_advertiser_registration_path %>' class="rounded right btn uppercase"><%= t 'book_a_campaign' %></a>
  <% end %>
  <div class="login right">
    <div>
      <% if !advertiser_signed_in? && !publisher_signed_in? %>
        <a href="#" class="rounded right uppercase"><%= t 'login' %></a>
        <div class="right rounded">
          <div class="flush right uppercase"><%= t 'login' %></div>
            <%= render 'layouts/login' %>
          </div>
        </div>
        
    <% elsif advertiser_signed_in? %>
      <%= link_to(destroy_advertiser_session_path, method: :delete) do %>
        <div class="flush right uppercase"><%= t 'logout' %></div>
      <% end %>
    <% elsif publisher_signed_in? %>
      <%= link_to(destroy_publisher_session_path, method: :delete) do %>
        <div class="flush right uppercase"><%= t 'logout' %></div>
      <% end %>
    <% end %>
  </div>
</div>