<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= csrf_meta_tags %>
	<%= display_meta_tags :site => 'ClipJet' %>
</head>
<body>
		
	<%= render 'shared/header' %>
	<%= yield %>	
	<%= render 'shared/footer' unless ['sessions', 'registrations'].include? controller_name  %>
		
	<%= javascript_include_tag "application" %>
	<%= yield(:morris)%>
	<% if flash[:notice] %>
	  <%= js add_gritter(flash[:notice], time: 3000) %>
	<% end %>
	<% if flash[:alert] %>
	  <%= js add_gritter(flash[:alert],time: 3000) %>
	<% end %>

	<% if Rails.env.production? %>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-39575905-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>

		<% if I18n.locale == :en %>
			<script type="text/javascript">
			var __lc = {};
			__lc.license = 3117692;
			__lc.group = 1;

			(function() {
				var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
				lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
			})();
			</script>
		<% else %>
			<script type="text/javascript">
			var __lc = {};
			__lc.license = 3117692;
			__lc.group = 2;

			(function() {
				var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
				lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
			})();
			</script>
		<% end %>
	<% end %>
	</body>
</html>