<!DOCTYPE HTML>
<html>
	<head>
		<title>ClipJet</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= stylesheet_link_tag    "style", :media => "all" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div>
			<header class="clearfix">
				<%= render 'layouts/navigation' %>
			</header>
		</div>

		<%= yield %>
		
		<%= render 'shared/footer' %>
		<%= render 'shared/paypal_popup' %>
		
		<%= javascript_include_tag "application" %>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-39575905-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</body>
</html>