<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag  "shared_video", :media => "all" %>
	<%= csrf_meta_tags %>
	<%= display_meta_tags :site => 'ClipJet' %>
</head>
<body>

	<%= yield %>	
		
	<%= javascript_include_tag "shared_video" %>
	<% if Rails.env.production? %>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-39575905-2', 'clipjet.me');
		  ga('send', 'pageview');

		</script>

	<% end %>
	</body>
</html>