<section class="pattern9">
  <section class="section9 clearfix">
    <div>
        <h1><%= t 'devise.registrations.user.sign_up' %></h1>

      <p class="lead"><%= t 'devise.registrations.user.have_account' %> <%= link_to t('devise.registrations.user.log_in_now'), new_user_session_path %></p>
        <br/>

        <div class="rounded form clearfix">
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <%= f.label :email, t('devise.shared.user.your_email') %>
            <%= f.email_field :email %>
            <%= f.label :password, t('devise.shared.user.your_password') %>
            <%= f.password_field :password %>
            <%= f.label :password_confirmation, t('devise.shared.user.password_confirmation') %>
            <%= f.password_field :password_confirmation %>
            <%= f.button t('devise.shared.user.let_me_in'), class: 'rounded btn' %>
          <% end %>
        </div>
       
    </div>
  </section>
</section>